<script type="text/x-kendo-template" id="config-left-template">
    <div class="left-container-box">
        <div class="left-container-title">Config</div>
    </div>
</script>
<script type="text/x-kendo-template" id="config-right-template">
</script>
