<script id="home-template" type="text/x-kendo-template">
    <div id="main-page">
        <div id="main-menu" class="home-menu home-menu-in">
            <div class="main-title">
                <div id="logo"></div>
            </div>
            <div id="left-button-bar">
                <div id="left-button-db" class="left-button left-button-on" title="Database manager"></div>
                <div id="left-button-macro" class="left-button" title="Macro manager"></div>
                <div id="left-button-source" class="left-button" title="Data sources"></div>
                <div id="left-button-scheduler" class="left-button" title="Scheduler"></div>
                <div id="left-button-preview" class="left-button" title="Publishing preview"></div>
                <div id="left-button-help" class="left-button" title="Help"></div>
                <div id="left-button-config" class="left-button" title="Settings"></div>
            </div>
            <div id="left-container"></div>
        </div>
        <div id="toolbar">
            <div id="tool-menu"></div>
            <div id="tool-toggle-theme">
                <div class="theme-switcher" title="Toggle theme">
                    <input type="checkbox" id="switcher" class="theme-input">
                    <label for=switcher class="theme-label">switch</label>
                </div>
            </div>
            <div id="tool-fullscreen" title="Toggle fullscreen"></div>
            <div id="tool-img"></div>
            <div id="tool-user"></div>
            <div id="tool-title">MyDatabase</div>
        </div>
        <div id="right-container"></div>
    </div>
</script>
