<script type="text/x-kendo-template" id="macro-manager-left-template">
    <div class="left-container-box">
        <div class="left-container-title">Macro Manager</div>
        <div style="text-align: center">
            <br><button id="new-macro" type="button">Create macro</button>
        </div>
        <br>
        <div id="macro-tree"></div>
    </div>
</script>
<script type="text/x-kendo-template" id="macro-manager-right-template">
    <div id="macro-tabs"></div>
</script>
