<script type="text/x-kendo-template" id="publishing-preview-left-template">
    <div class="left-container-box">
        <div class="left-container-title">Publishing Preview</div>
    </div>
</script>
<script type="text/x-kendo-template" id="publishing-preview-right-template">
</script>
