<script type="text/x-kendo-template" id="scheduler-left-template">
    <div class="left-container-box">
        <div class="left-container-title">Scheduler</div>
    </div>
</script>
<script type="text/x-kendo-template" id="scheduler-right-template">
</script>
