<script type="text/x-kendo-template" id="source-left-template">
    <div class="left-container-box">
        <div class="left-container-title">Help</div>
    </div>
</script>
<script type="text/x-kendo-template" id="source-right-template">
</script>
